* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Unbounded', cursive;
    color: rgb(38, 176, 0);
    text-align: center;
    background: url('../img/crypto-home-page.jpg') no-repeat center center fixed;
    background-size: cover;
    height: 100vh;
    overflow: hidden; 
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    padding-bottom: 100px;
}

.welcome-text {
    position: absolute;
    top: 33%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 3em;
    font-weight: bold;
    text-transform: uppercase;
    color: #00ff00;
    text-shadow: 0 0 10px #006b00;
    width: 80%;
    max-width: 800px;
    text-align: center;
}

.description {
    position: absolute;
    top: 78%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 0.8em;
    line-height: 1.6;
    background: rgba(0, 0, 0, 0.7);
    padding: 15px;
    border-radius: 10px;
    color: rgb(38, 176, 0);
    box-shadow: 0 0 10px #00ff00;
    width: 80%;
    max-width: 800px;
}

footer {
    position: absolute;
    bottom: -100px;
    width: 100%;
    text-align: center;
    padding: 10px 0;
    background-color: rgba(0, 0, 0, 0.8);
    border: 2px solid rgb(38, 176, 0);
    border-radius: 8px;
    box-shadow: 0 0 15px rgba(38, 176, 0, 0.3);
}